/* MAIN PAGE */

#main-sec{
	background-image: url("../images/login/main.png");
	height: 100%;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:200px;
	padding-bottom:200px;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.o-container{
    margin:0 auto;
    max-width:400px;
    min-width:320px;
    padding:0 20px
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button{
    background-color: #d6577a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    opacity: 0.8;
}

span.psw {
    float: left;
    padding-top: 16px;
	text-decoration: none;
	color:#333;
}